/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login/Signup */

.h {
  color: #e0fde0;
}

.container{
  height: 100%;
  align-content: center;
}

.card{
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
}

.card-body input:hover {
  background-color: #e0fde0;
}

.social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #e6f3f7;
}

.social_icon span:hover{
  color: #e0fde0;
  cursor: pointer;
}

.card-header h3{
  color: white;
}

.social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span{
  width: 50px;
  background-color: #e6f3f7;
  color: black;
  border:0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}

.login_btn{
  color: black;
  background-color: #e6f3f7;
  width: 100px;
}

.login_btn:hover{
  color: black;
  background-color: #e0fde0;
}

.links{
  color: white;
}

.links a{
  margin-left: 4px;
}

.login_container {
  background-image: url('https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/kl-nasi-lemak.jpg?itok=fySpT_cU');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.home {
  height: 100vh;
  width: 100%;
}

.navigation li {
  float: right;
  font-size: 20px;
  list-style-type: none;
  padding: 10px;
  color: white;
}

.navigation li:hover {
  color: #e0fde0;
}

.search_ingredients {
  width: 100%;
  text-align: center;
}

.home {
  text-align: center;
}

.home_container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

input {
  text-align: center;
}

.test {
  background-color: red;
  width: 500px;
  height: 500px;
}

.recipe_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'EB Garamond', serif;
  font-size: 22px;
  letter-spacing: 2px;
}

.recipe_container img {
  margin-top: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #707070; */
  border-radius: 5px;
}

.search_div {
  margin: 0 auto;
  padding: 70px;
  width: 40%;
  display: flex;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dcedff;
  border-right: 1px solid #b4daff;
  overflow-x: hidden;
  padding-top: 20px;
  line-height: 30px;
  font-family: Montserrat;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

p {
  color: black;
}

.food_img {
  width: 90%;
}

.polaroid {
  width: 70%;
  height: 100%;
  border-radius: 2%;
  margin: 0 auto;
  box-shadow: 10px 10px 10px #707070;
}

.polaroid p {
  padding: 8px;
  font-family: 'Indie Flower', cursive;
}

.recipe_card {
  margin-top: 30px;
}

.card_header {
  text-align: center;
}

.ingredients {
  border-bottom: 1px solid #ADD8E6;
  font-size: 16px;
}

.sidebar_username {
  text-align: center;
  border-bottom: 1px solid #ADD8E6;
  color: #003333;
  letter-spacing: 2px;
  padding: 10px;
}

.item img {
  width: 100%;
}

.carousel_name {
  text-align: center;
  letter-spacing: 3px;
  color: white;
  margin-top: 40px;
  padding: 20px;
}

.favorite_container {
  width: 40%;
  margin: 0 auto;
}

.favorite_body {
  background-color: #232323;
  height: 100vh;
}

.carousel-indicators {
  margin-bottom: 50px;
}

/* this is the start of Category */
/* .category_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #232323;
}

.category_card {
  border: 1px solid pink;
  width: 90%;
  height: 90%;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  line-height: 250px;
} */
.category_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.category_card {
  margin: 0 auto;
  padding: 10px;
}

.category_card h1 {
  text-align: center;
  letter-spacing: 2px;
}

.category_card img {
  width: 30vw;
  height: 30vh;
}


/* this is the end of Category */
